[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
libsignal-core = { git = "https://github.com/Diesel-Jeans/libsignal.git", version = "0.1.0" }
libsignal-protocol = { git = "https://github.com/Diesel-Jeans/libsignal.git", version = "0.1.0" }


common = { path = "../common"}
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
axum = { version = "0.7.6", features = ["macros"] }
serde = { version = "1.0.210", features = ["derive"] }
rand = "0.8.5"

[build-dependencies]
tonic-build = "0.12.2"
